
html {
    box-sizing: border-box;
    font-size: 16px;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    
}
#street,
#city,
#suite {
    color: grey;
}
.close_card {
    margin: 3px 3px 3px 3px;
}
.card {
    margin-right: 15px;
}
#name,
#email,
#phone,
#street,
#suite,
#city,
#company {
    width: 80%;
    height: 1.3rem;
    margin-left: 20px;
}
.address {
    padding-bottom: 0px;
}
.action {
   margin-left: 100px; 
}
.input-field{
    height: 1.2rem;
}
.update-btn,
.delete-btn,
.save-btn,
.cancel-btn {
    margin: 5px;
}
.card-title {
    margin-left: 10px;
}
#item-name,
#item-email,
#item-phone,
#item-street,
#item-suite,
#item-city,
#item-company{
    margin-bottom: 2px;
    /* height: 2.25rem; */
}