
html {
    box-sizing: border-box;
    font-size: 16px;
}
*, *:before, *:after {
    box-sizing: inherit;
}
#street,
#city,
#suite {
    color: grey;
}
.close_card {
    margin: 3px 3px 3px 3px;
}
.card {
    margin-right: 15px;
}
#name,
#email,
#phone,
#street,
#suite,
#city,
#company {
    /* width: 80%; */
    /* height: 1.3rem; */
    margin-left: 10px;
}
.address {
    padding-bottom: 0px;
}
.action {
   margin-left: 100px; 
}
.input-field{
    height: 1.2rem;
}
.update-btn,
.delete-btn,
.save-btn,
.cancel-btn,
.add-btn     {
    margin: 5px;
}
.card-title {
    margin-left: 10px;
}
#item-name,
#item-email,
#item-phone,
#item-street,
#item-suite,
#item-city,
#item-company{
    padding-left: 10px;
    margin-bottom: 2px;
}

#modal-one,
#modal-two,
#modal-three {
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5);
    animation-name: openmodal;
    animation-duration: 1s;
}
#modal-three {
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5);
    animation-name: openmodal;
    animation-duration: 1s;
}
.modal-content {
    background-color: rgb(253, 253, 253);
    margin: 20% auto;
    width: 35%;
    box-shadow: 0 5px 8px 0 rgb(0, 0, 0, 0.5);
}
.modal-content-two {
    background-color: rgb(253, 253, 253);
    margin: 20% auto;
    padding: 10px 20px 10px 20px;
    width: 30%;
    box-shadow: 0 5px 8px 0 rgb(0, 0, 0, 0.5);
}
.modal-content-three {
    background-color: rgb(253, 253, 253);
    margin: 10% auto;
    width: 35%;
    box-shadow: 0 5px 8px 0 rgb(0, 0, 0, 0.5);
}
@keyframes openmodal {
    from { opacity: 0;}
    to {opacity: 1}
}

#newStaff {
    display: none;
}